@{
	Layout = "_Layout";
    <link rel="stylesheet" href="~/css/handicraftDealerHome.css" runat="server"/>
} 


<br><br><br><br>

			<div>
				<img src="~/images/handicraft.jfif"  width="30%" height="30%" >
				<p>Are you a handicraft dealer looking forward to increase the outreach of your beautifully handcrafted products by expanding your presence online? Well... Exotika is exactly what you are looking for!<p>
				<p>We all know tourists look for some momentos to take away as a memory of their visit, or as a gift to their loved ones. For this purpose, they often turn to the specialities of their place of visit - the local handicrafts.</p>
				<p>By registering your business with us, you can list out the region-specific handicrafts that you provide, along with your business details like name, address and contact information. This would help the tourists reach out to you in an easy manner, helping expand your outreach and sales. What's more? You get all this for FREE!</p>
				<p>Through the local handicraft dealers portal, a user can list out the region-specific handicrafts they provide, along with their business details, including address and contact information.</p>
				<span><b>So what are you waiting for?</b></span><br>
				<a href="SignIn.html" class="GoToPortalBtn" style="font-size: 150%"><span><b>Register Now!</b></span></a>
			</div>
