@{
	Layout = "_Layout";
    <link rel="stylesheet" href="~/css/resortHome.css" runat="server"/>
} 


			<div>
				<h1>Why choose Exotika for Resorts?</h1>
				<img src="~/images/ResortRoom.jfif"/>
				<p>Exotika is the one-stop destination for resort ownes for all their resort needs. Need to increase tourist outreach? Need stationery, electronics, cutlery, electronic items, or any other goods and/or services? Worry not, we got you covered!</p>
				<p>So what all functionalities do you, as a resort owner, get on registering with us?</p>
				<div id="TouristOutreach">
					<h2>Tourist Outreach</h2>
					<img src="~/images/tourist.jpg"/>
					<p>You can list out the available rooms, packages and offers, of your resort, and allow online booking. This would allow you to expand your reach to a wider audience with your online presence on our marketplace. What's more? You can also analyze the booking history/trends of your resort, and plan packages and offers accordingly!</p>
				</div>
				<div id="ResortNeeds">
					<h2>Resort Needs</h2>
					<img src="~/images/vendor.jpg"/>
					<p>We are aware of the fact that resorts are constantly in the need of some or the other kind of supplies (products and services), right from groceries to event management/planning to rentals to electricians/plumbers and so much more!</p>
					<p>To help you with all your needs, we have collaborated with product/service vendors throughout the country so that your demands/requirements can be fulfilled on-site itself!  You can easily interact with product/service providers and view contract status.</p>
					<p>You can post your requirements through your dashboard on logging in, and we'll send the notification of the requirements to vendors in your city. They can then give you a proposal. It's now in your hands to get the best bait and select the vendor that appeals to you the most.</p>
				</div>
				<br><br><br>
				<span><b>So what are you waiting for?</b></span><br>
				<a href="SignIn.html" class="GoToPortalBtn" style="font-size: 150%"><span><b>Register Now!</b></span></a>
				</div>